<%= form_tag(data_import_path, method: :post, multipart: true) do %>
    <div>
      <h1>Import data</h1>
      <h2>Select data files for upload, existing records will be updated if found.</h2>

      <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <h4>Exchange Rates.</h4>
      <p>
        A csv file is required with the following headers:
      <ul>

        <% @headers[Data::Handler::EXCHANGE_RATE_FILE].each do |header| %>
            <li><%= header %></li>
        <% end %>
      </ul>
      <%= file_field_tag :exchange_rate_file, accept: 'text/csv' %>
      </p>

      <h4>Oil Prices.</h4>
      <p>
        A csv file is required with the following headers:
      <ul>
        <% @headers[Data::Handler::OIL_PRICE_FILE].each do |header| %>
            <li><%= header %></li>
        <% end %>
      </ul>
      <%= file_field_tag :oil_price_file, accept: 'text/csv' %>
      </p>

      <h4>Fuel Prices.</h4>
      <p>
        A csv file is required with the following headers:
      <ul>
        <% @headers[Data::Handler::FUEL_PRICE_FILE].each do |header| %>
            <li><%= header %></li>
        <% end %>
      </ul>
      <%= file_field_tag :fuel_price_file, accept: 'text/csv' %>
      </p>

      <%= submit_tag "Upload", data: { disable_with: "Uploading..." } %>
    </div>
<% end %>